html {
    touch-action: none;
    user-select: none;
    background-image: url(campex.png);
    scrollbar-width: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.grid {
    display: grid;

    grid-template-columns: 80vw 7.5vw 6vw 6vw;
    grid-template-rows: 81vh 9vh 10vh;
    z-index: 1;
}
#frame {
    margin-top: 1%;
    height: 850px;
    width: 1600px;    
    margin-left: 2%;    
    grid-column-start: 1;
    grid-row-start: 1;
}

.ImgJogadores {
    max-width: 5vw;
    height: auto;
}

.Jogadores {
    position: relative;
    z-index: 9999;
}

#TimeA {
    grid-row-start: 2;
}

#TimeB {
    grid-row-start: 3;
    visibility: hidden;
}

#bnt {    
    margin-top: 4vw;
    grid-column-start: 4;
    grid-row-start: 1;        
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#presetButtons {    
    margin-top: 4vw;
    margin-right: 10px;
    grid-column-start: 3;
    grid-row-start: 1;        
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#cv {
    position: absolute;
    margin-top: 3.7vh;
    margin-left: 7vw;
    z-index: 999;
}

#video {
    visibility: hidden;
    z-index: 99;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 81.7vh;
    width: 81.7vw;
    margin-left: 4vw;
    margin-top: 3.84vh;
}

#bnt img, #presetButtons img, #menuVideo, #videoSelect{
    max-width: 6vw;
}

#paletteColor {
    display: flex;
    margin-left: 0.5vw;
    visibility: hidden;
}

#redColor {
    background-color: red;
    width: 2.5vw;
    height: 4vh;
    border-top-left-radius: 10px;
}

#blue {
    background-color: blue;
    width: 2.5vw;
    height: 4vh;
    border-bottom-right-radius: 10px;
}

#white {
    background-color: white;
    width: 2.5vw;
    height: 4vh;
    border-bottom-left-radius: 10px;
}

#yellow {
    background-color: yellow;
    width: 2.5vw;
    height: 4vh;
    border-top-right-radius: 10px;
}

#menuVideo {
    grid-row-start: 1;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 17vh;
    visibility: hidden;
    max-width: 6vw;
}

#videoSelect {
    grid-column-start: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 17vh;
    visibility: hidden;
}
body::-webkit-scrollbar { width: 0 !important }

.btnMenu {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.btnMenu:hover,
.btnMenu:focus,
.btnMenu:active {
    transform: scale(1.1);
}