html
{
    touch-action: none;
    user-select: none;
    background-image: url(campex.png);
    scrollbar-width: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid
{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.12fr 0.12fr;

    z-index: 1;
}

.Jogadores
{
    position: relative;
    z-index: 9999;
}

#TimeA
{
    grid-row-start: 2;
}

#TimeB
{
    grid-row-start: 3;
    visibility: hidden;
}


#bnt
{    
    margin-top: 5vw;
    grid-column-start: 4;
    grid-row-start: 1;        

    display: flex;
    flex-direction: column;
    justify-self: center;
}


#presetButtons
{    
    margin-top: 5vw;
    margin-right: 10px;
    grid-column-start: 3;
    grid-row-start: 1;        

    display: flex;
    flex-direction: column;
    justify-self: center;
}

#cv
{
    position: absolute;
    margin-top: 1%;
    margin-left: 1.6%;
    z-index: 2;
}

body::-webkit-scrollbar { width: 0 !important }